@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-0 {
    padding: 48px 0;

    .c-wrapper {
    }
  }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  .section-02 {
    .c-wrapper {
    }
  }
}

@media all and (min-width: #{$mq-md + "px"}) {
  .section-02 {
    padding-top: 100px;
    .c-wrapper {
      .result-page {
        display: flex;
        justify-content: center;
        .a-item-01 {
          width: 100px;
          height: 100px;
          img {
            border: 2px solid darkcyan;
            border-radius: 20px;
            width: 700px;
          }
        }
        .a-item-02 {
          .a-item-02-A {
            margin-top: 15px;
            font-family: "Syne";
            font-size: 17px;
            line-height: 15px;
            text-align: center;
            color: #000000;
          }
          .a-item-02-B {
            margin-top: 15px;
            font-family: "Syne";
            font-size: 17px;
            line-height: 10px;
            text-align: center;
            color: #000000;
            text-shadow: -5px 5px 0px #ffffff;
          }
        }
        .a-item-03 {
          img {
            border: 2px solid darkcyan;
            border-radius: 20px;
          }
          .a-item-03-A {
            width: 250px;
            height: 30px;
            border: 2px solid darkcyan;
            border-radius: 15px;
            opacity: 0.8;
            transition: opacity 0.25s;
            cursor: pointer;
            margin: 20px 128px;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
